body{
    margin:0;
    padding:0;
}

.row{
    margin:0;
}

.head-card{
    width:90%;
    margin-top:1em;
    padding-top:1em;
    padding-bottom:1em;
    background-color:#2D3142;
    border-radius:5px;
    color:white;
}

.body-card{
    background: #EDF4ED;
    min-width:80vw;
    max-width:80vw;
    min-height:60vh;
    border-radius:5px;
}

.footer{
    position: fixed;
    left: 0;
    right:0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}