.page{
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100vw;
    height: 100vh;
    padding:0;
    margin:0;
}

.hide-page{
    left:-100vw;
    top:0;
    width:0;
    height:0;
    overflow: hidden;
}
#menu-page{
    z-index:10000;
    transition: 2s all;
    height: 100vh;
    width:100vw;
}
i{
    font-size: 1.2em;
    padding-top:0.2em;
    padding-bottom: 0.2em;
    color: #2D3142;
}
.row{
    margin:0;
}

.tag-text{
    text-align: right;
}

#ireire-content{
    margin-top:4rem;
}

#count{
    text-align:left;
}

#favourite{
    text-align:right;
}
.tags-links{
    padding-top:2em;
}

.fa-tag{
    font-size:0.8em;
    padding-right:2px;
}

.tag{
    background-color:#2D3142;
    color:white;
    font-size:1em;
    padding:2px 6px 2px 6px;
    margin:5px 5px 5px 0;
    border-radius:3px;
    cursor:pointer;
    display:inline-block;
}

#magana{
    font-size:1.5em;
}

#magana-content{
    box-shadow:0px 1px 10px 0px #dddddd;
    margin:1em;
    padding:1em;
    width:90%;
    border-radius:5px;
}


/***********************************************************
 Global header and footer styles 
 **********************************************************/
.nav{
    position: fixed;
    background-color: #ffffff;
    left: 0;
    right:0;
    width: 100%;
    box-shadow: 0 0.5px 5px 0 rgba(0,0,0,0.3);
    transition: 0.1s ease-in all;
    z-index: 10000;
}

.header{
    top:  -4rem;
    padding-top:0.25em;
    padding-bottom:0.25em;
    font-size:1.5em; 
}

.footer{
    bottom: -4rem;
    padding-top:1em;
    padding-bottom:1em;
    color: white;
    text-align: center;
}
