/****************************************************************
 Custom font from google fonts 
 *****************************************************************/
@font-face {
    font-family: cutive;
    src: url(../webfonts/cutive.ttf);
  }

.page, .header, .footer, #menu-footer{
    font-family: 'cutive', sans-serif;
}


/***************************************************************************
 Each page is a view that appears when a requested, otherwise it's hidden.
 The whole app is a single html page with absolute divs acting as pages
 **************************************************************************/
.page{
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F1F2EB;
    min-width:100vw;
    min-height: 100vh;
    padding:0;
    margin:0;
}

.hide-page{
    left:-100vw;
    top:0;
    width:0;
    height:0;
    overflow: hidden;
}

i{
    font-size: 1.2em;
    padding-top:0.2em;
    padding-bottom: 0.2em;
}

i:hover, i:active{
    color: #EF4E09;
}

.tag{
    background-color:#2D3142;
    color:white;
    font-size:1em;
    padding:0.3em;
    margin:5px 5px 5px 0;
    border-radius:3px;
    cursor:pointer;
    display:inline-block;
}

.fa-tag{
    font-size:0.8em;
    padding-right:2px;
}


/************ Begin Menu Page *********************************************************/
#menu-page{
    z-index:10000;
    transition: 2s all;
}

#app-title{
    margin: 1rem;
}

#app-title h1{
    border-top: 0.1em solid #EF4E09;
    border-bottom: 0.1em solid #EF4E09;
    padding:0.2em;
    color: #2D3142;
}

.menu-tag{
    background-color:#2D3142;
    margin: 0.5em;
    font-size:1.5em;
    padding:0.2em 0.1em 0.2em 0.1em;
    min-width:80%;
    color:white;
    border-radius: 5px;
}

#menu-footer{
    position: absolute;
    width: 100%;
    background-color: #F1F2EB;
    color: #2D3142;
    bottom:0;
    padding: 0.1em;
    box-shadow: 0 3px 5px 0px #2D3142;
}
/************ End Menu Page *********************************************************/




/************ Begin Karin Magana Page *********************************************************/
#magana{
    font-size:1.5em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

#magana-content{
    width:90%;
}

#count{
    text-align:right;
}
/************ End Karin Magana Page *********************************************************/



/************ Begin Ire ire Page *********************************************************/
#ireire-page{
    padding-top:4rem;
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 10px;
}
/************ End Ire ire Page *********************************************************/



/***********************************************************
 Global header and footer styles 
 **********************************************************/
.nav{
    position: fixed;
    background-color: #ffffff;
    left: 0;
    right:0;
    width: 100%;
    box-shadow: 0 0.5px 5px 0 rgba(0,0,0,0.3);
    transition: 0.1s ease-in all;
    z-index: 10000;
}

.header{
    top:  -4rem;
    padding-top:0.25em;
    font-size:1.5em; 
    background-color:#2D3142;
    color:white;
}

#header-text{
    text-align: right;
}

.footer{
    bottom: -4rem;
    padding-top:1em;
    padding-bottom:1em;
    color: white;
    text-align: center;
    background-color:#2D3142;
}



/*************************************************************************
                            Media QUeries 
**************************************************************************/
@media (min-device-width: 769px) and (orientation: portrait) {
  html{
    font-size: 3vw;
  }
}