body{
    margin:0;
    padding:0;
}

i{
    font-size: 2em;
    padding-top:0.2em;
    padding-bottom: 0.2em;
}
.row{ 
    margin:0;
}

.favourite{
    text-align:right;
}
.tags-links{
    padding-top:2em;
}

.fa-tag{
    font-size:0.8em;
    padding-right:2px;
}

.tag{
    background-color:#2D3142;
    color:white;
    font-size:1em;
    padding:2px 6px 2px 6px;
    margin:5px 5px 5px 0;
    border-radius:3px;
    cursor:pointer;
    display:inline-block;
}

.magana{
    font-size:2em;
}
.content{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width:100vw;
    min-height: 100vh;
    padding:1em;
    padding-bottom:2em;
}
.header{
    position: absolute;
    left: 0;
    right:0;
    top: 0;
    width: 100%;
}

.footer{
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    width: 100%;
    background-color:#2D3142;
    color: white;
    text-align: center;
}

.bt{
    border-right: 2px solid white;
}