body{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width:100vw;
    min-height: 100vh;
    padding:0;
    margin:0;
}

i{
    font-size: 1.2em;
    padding-top:0.2em;
    padding-bottom: 0.2em;
    color: #2D3142;
}
.row{
    margin:0;
}

.tag-text{
    text-align: right;
}

#ireire-content{
    margin-top:4rem;
}

#favourite{
    text-align:right;
}
.tags-links{
    padding-top:2em;
}

.fa-tag{
    font-size:0.8em;
    padding-right:2px;
}

.tag{
    background-color:#2D3142;
    color:white;
    font-size:1em;
    padding:2px 6px 2px 6px;
    margin:5px 5px 5px 0;
    border-radius:3px;
    cursor:pointer;
    display:inline-block;
}

#magana{
    font-size:1.5em;
}

#magana-content{
    box-shadow:0px 1px 10px 0px #dddddd;
    margin:1em;
    padding:1em;
    border-radius:5px;
}


/***********************************************************
 Global header and footer styles 
 **********************************************************/
.header{
    position: fixed;
    background-color: #ffffff;
    left: 0;
    right:0;
    top: 0;
    padding-top:0.25em;
    padding-bottom:0.25em;
    width: 100%;
    box-shadow: 0 0.5px 5px 0 rgba(0,0,0,0.3);
    font-size:1.5em;
}

.footer{
    position: fixed;
    left: 0;
    right:0;
    bottom: 0;
    padding-top:1em;
    padding-bottom:1em;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0.5px 5px 0 rgba(0,0,0,0.3);
    color: white;
    text-align: center;
}
